/* Estilo para los botones */
button {
  background-color: #2E7D32; /* Color verde oscuro */
  color: #fff; /* Texto blanco */
  border: none;
  padding: 10px 20px; /* Mayor tamaño de botón */
  cursor: pointer;
  margin-right: 20px; /* Mayor separación entre botones */
  border-radius: 8px; /* Bordes redondeados */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Tipo de letra */
  font-size: 16px; /* Tamaño de fuente */
  box-shadow: 0px 2px 8px rgba(0, 64, 0, 0.5); /* Sombra verde oscuro */
}

/* Estilo para la tabla */
table {
  width: 100%; /* Ancho completo */
  margin: 0 auto; /* Centra la tabla horizontalmente */
  border-collapse: separate; /* Utiliza separate para un espaciado entre celdas */
  margin-top: 10px;
  background-color: #D0E8A0; /* Color de fondo verde claro */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

th, td {
  padding: 10px;
  border: 1px solid #ccc; /* Reducir el grosor del borde */
  text-align: left;
}

th {
  background-color: #2E7D32; /* Color de fondo verde oscuro para encabezados de columna */
  color: #fff;
}

/* Estilos generales de la aplicación */
body {
  margin: 0;
  padding: 0;
  background: #F2F4F5;
  color: #1E1E1F;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Tipo de letra */
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
/* Estilos para el encabezado */
.header {
  align-items: center;
  background-color: #fff; /* Fondo blanco */
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  width: 100% !important;
}

.header img {
  width: 200px; /* Tamaño fijo para las imágenes */
  height: auto; /* Mantiene la relación de aspecto */
  margin-right: 10px; /* Espacio de 10px entre imágenes */
}

/* Estilo para la celda de acciones */
.actions-cell {
  padding: 10px 20px 10px 0; /* Agrega un margen derecho de 20px a la celda de acciones */
}

/*Formulario de login*/
.form-container-login {
  width: 350px;
  height: 500px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 30px;
  margin-top: 10%;
  margin-bottom: 11%;
}

.title {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 10px 0 30px 0;
  font-size: 28px;
  font-weight: 800;
}

.form-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 15px;
}

.form-btn-login {
  padding: 10px 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 20px;
  border: 0 !important;
  outline: 0 !important;
  background: #2E7D32;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-btn-login-2 {
  padding: 10px 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 20px;
  border: 0 !important;
  outline: 0 !important;
  background: white;
  color: #2E7D32;
  cursor: pointer;
  box-shadow: rgba(46, 125, 50, 1)0px 3px 8px;
}

.section-login{
  overflow: hidden;
}

